@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  background: #1f252d;
}
.btn{
  display: flex;
  justify-content: center;
}
.ui.button{
  width: 120px;
  height: 40px;
}
.wrapper {
  /*width: 100%;*/
  background: #2e394b;
  overflow: hidden;
  margin-top: 100px;
  padding-bottom: 50px;
}

.menu-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  height: 70px;
  width: 54px;
  cursor: pointer;
  background: url(http://iamturner.co.uk/codepen/menu-icon.png) no-repeat center;
  background-size: 44px;
}
.menu-btn:active {
  opacity: 0.2;
}
.ui.cards{
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.ui.cards .card{
  /*width: 500px;*/
  width: 90%;
  height: 200px;
  font-size: 17px;
}
.contentin{
  display: flex;
}
.contentin .header{
  flex: 5;
  text-align: center;
}
.contentin p{
  flex: 5;
  text-align: center;
}
#mncard{
  width: 90%;
  height: 50px;
  margin-bottom: -10px;
}
#mncard .content{
  display: flex;
}
#mncard .content .header{
  text-align: center;
  flex: 5;
  height: 30px;
}
#mncard .content .header a{
  color: black;
}
#mncard .content .header a:hover{
  color: rgb(85,85,85);
}
#mncard .content .header a:active{
  color: rgb(134,134,134);
}
#mncard .description{
  margin: 0;
}
#topcard{
  width: 90%;
  height: 100px;
  margin-bottom: 40px;
}
.meta{
  margin-top: 5px;
}
#monitor .button .wrapper{
  background: none !important;
}
p{
  margin: 0;
}
div.four{
  position: absolute;
width: 100%;
top: 0;
z-index: 200;
background: rgb(40, 40, 40) !important;
padding-top: 50px;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  line-height: 70px;
  -webkit-user-select: none;
}

.monitorlist-enter-active {
    transition: all 2s ease;
}

.monitorlist-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.monitorlist-enter, .monitorlist-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
    transform: translateX(-50px);
    opacity: 0;
}