* {
  margin: 0;
  padding: 0;
}
body{
  height: auto;
}
#menu{
  background-color: white;
}
#problems{
    margin-top: 100px;
}
#page-span{
  position: absolute;
  left: 47%;
  font-size: 17px;
}
#mnit{
  margin: 0;
}
.three.wide.column .header{
  font-size: 17px;
}
.ui.grid{
  width: 1014px;
}
.ui.top.attached.tabular.menu a{
  color: rgb(194,194,194);
}
.ui.top.attached.tabular.menu a{
  color: rgb(194,194,194);
}
.container {
  padding: 70px 130px 0px 130px;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: block;
    position: relative;
}
.reverse{
  position: relative;
}
.ui.center.aligned.header{
  margin-bottom: 60px;
  color: white;
  font-weight: 100
}
.ui.center.aligned.header .sub.header{
  color: white;
  font-weight: 100;
  margin-top: 10px;
  font-weight: 100
}
.item{
  padding: 10px;
}
.big.reply.icon {
  color: rgb(179,179,179);
  position: absolute;
  left: 0;
}

.big.share.icon {
  color: rgb(179,179,179);
  position: absolute;
  right: 0;
}

.big.reply.icon:hover {
  color: rgb(255,255,255);
  /*color: rgb(121,121,121);*/
}

.big.share.icon:hover {
  color: rgb(255,255,255);
}


.ui.button {
    width: 100%;
    height: 40px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 60px;
}

.ui.button:hover {
    background-color: rgb(224, 224, 224)
}

.huge.chevron.circle.up.icon {
    color: rgb(179, 179, 179);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px;
}

.huge.chevron.circle.down.icon {
    color: rgb(179, 179, 179);
    position: relative;
    bottom: 0;
    margin: 15px;
    margin-left: 47%;
}

.huge.chevron.circle.up.icon:hover {
    color: rgb(255, 255, 255);
}

.huge.chevron.circle.down.icon:hover {
    color: rgb(255, 255, 255);
}

.content {
    display: flex !important;
}
.content.in {
    /*display: flex !important;*/
    /*flex-grow: -0.9;*/
}

#listpol-head {
    flex-grow: 1;
    padding-left: 13px;
}
#list{
  border: none !important;
}
.ui.disabled.header {
  margin: 0 !important;
    flex-grow: 0.2;
    padding-right: 5px;
}

.description {
    flex-grow: 1;
    padding-left: 5px;
    margin: 0 !important;
    color: black;
    font-size: 16px;
}
.description .ui.grid .four.wide.column{
}
.description .ui.grid {
  width: 100%;
}
.ui.center.aligned.header {
    margin-bottom: 60px;
}

.ui.items {
    font-size: 13px;
}

.propol {
    padding: 20px;
    padding-top: 0px;
}


#pob {
    color: black;
    padding-left: 11px;
}

.problemlist-enter-active {
    transition: all 2s ease;
}

.problemlist-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.problemlist-enter,
.problemlist-leave-to
/* .slide-fade-leave-active for <2.1.8 */

{
    transform: translateX(-50px);
    opacity: 0;
}

.ui.bottom * {
    overflow: hidden;
}
.flip-list-move {
    transition: all .1s;
    display: inline-block;
    margin-right: 10px;
}
.flip-list{
    transition: all .1s;
}
.ui.bottom.attached.tab.segment.active{
    overflow:hidden;
}
