/*8dc7a3*/
* {
  margin: 0;
  padding: 0;
}
body{
  height: auto;
}
#menu{
  background-color: white;
}
#problems{
    margin-top: 100px;
}
.ui.top.attached.tabular.menu a{
  color: rgb(194,194,194);
}
.container {
  padding: 70px 130px 0px 130px;
    width: 100%;
    height: 100vh;
}
.container{
  margin-top: 20px;
  display: block;
  position: relative;
}
.ui.center.aligned.header{
  margin-bottom: 60px;
  color: white;
  font-weight: 100
}
.ui.center.aligned.header .sub.header{
  color: white;
  font-weight: 100
}
.item{
  padding: 10px;
}
